<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CRMPRO">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	
  <test thread-count="5" name="CRMproTest">
    <classes>
      <class name="com.qa.test.HomePageTest"/>
      <class name="com.qa.test.LoginPageTest"/>
      <class name="com.qa.test.ContactsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- CRMPRO -->
